@tailwind base;
@tailwind components;
@tailwind utilities;
@media print {
  @page {
    size: A4;
    margin: 12mm;
  }

  body {
    background: white !important;
  }

  .no-print {
    display: none !important;
  }

  .no-break {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}

@media print {
  @page {
    size: A4;
    margin: 12mm;
  }

  body {
    background: white !important;
  }

  .no-print {
    display: none !important;
  }

  .bloque-corto {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}